<div class='partial-group-list'>
  <div class='md-list group-list'>
  {{#if groups}}
  {{#each groups}}
    <div class='md-list-item groups__group groups__group-{{id}} {{#ifEqual id @root.editID}}edit{{/ifEqual}}'>
      <a name='{{id}}' id='{{id}}'></a>

      <a class='md-list-item__avatar' href='/group/{{id}}'>
        <div class='img colour-{{fields.colour}} light'></div>
      </a>

      <a class='md-list-item__content groups__group__item' href='/group/{{id}}'>
        <div class='md-list-item__primary-content'>
          {{fields.name}}
        </div>
        <div class='md-list-item__secondary-content'>
          {{jotCount}} jots ({{jotDoneCount}} done)
        </div>
      </a>

      <div class='md-list-item__content groups__group__forms'>
        <div class='md-list-item__primary-content'>
          <form class='form-group-update form-group-update-{{id}}' data-id='{{id}}' method='post' action='/group/{{id}}'>
            <input type='text' class='md-form-text' name='name' value='{{fields.name}}'>
            {{>colour-selector name='colour' colours=colours current=fields.colour}}
            <input type='hidden' name='action' value='update'>
            <button class='md-form-btn' type='submit'>save</button>
          </form>

          <form class='form-group-delete form-group-delete-{{id}}' data-id='{{id}}' method='post' action='/group/{{id}}'>
            <input type='hidden' name='action' value='delete'>
            <button class='md-form-btn' type='submit'>delete</button>
          </form>

        </div>
      </div>

      <a class='md-list-item__action groups__group__edit' href='/group?edit={{id}}' data-id='{{id}}'>
        <svg class="icon edit">
          <use xlink:href="#edit" />
        </svg>
        <svg class="icon cancel">
          <use xlink:href="#cancel" />
        </svg>
      </a>

    </div>
  {{/each}}
  {{else}}
  <div class='md-list-item'>
    <div class='md-list-item__content center'>
      <div class='md-list-item__primary-content'>
        No lists
      </div>
    </div>
  </div>
  {{/if}}

  </div>
</div>
