<div class='partial-group-list'>
  <div class='md-list group-list'>
  {{#each groups}}
    <div class='md-list-item groups__group groups__group-{{id}} {{#ifEqual id @root.editID}}edit{{/ifEqual}}'>
      <a name='{{id}}' id='{{id}}'></a>

      <a class='md-list-item__avatar' href='/group/{{id}}'>
        <div class='img' {{#if fields.colour}}style='background-color: {{fields.colour}}'{{/if}}></div>
      </a>

      <a class='md-list-item__content groups__group__item' href='/group/{{id}}'>
        <div class='md-list-item__primary-content'>
          {{fields.name}}
        </div>
        <div class='md-list-item__secondary-content'>
          {{jotCount}} jots
        </div>
      </a>

      <div class='md-list-item__content groups__group__forms'>
        <div class='md-list-item__primary-content'>
          <form class='form-group-update form-group-update-{{id}}' data-id='{{id}}' method='post' action='/group/{{id}}'>
            <input type='text' class='md-form-text' name='name' value='{{fields.name}}'>
            <div class='colour-selector'>
              {{#each colours}}
                <div class='colour-selector__colour {{#ifEqual ../fields.colour this.code}}colour-selector__colour--current{{/ifEqual}}' style='background-color: {{this.code}}'></div>
              {{/each}}
              <select name='colour'>
              {{#each colours}}
                <option value='{{this.code}}' {{#ifEqual ../fields.colour this.code}}selected{{/ifEqual}}>{{this.name}}</option>
              {{/each}}
              </select>
            </div>
            <input type='hidden' name='action' value='update'>
            <button class='md-form-btn' type='submit'>save</button>
          </form>

          <form class='form-group-delete form-group-delete-{{id}}' data-id='{{id}}' method='post' action='/group/{{id}}'>
            <input type='hidden' name='action' value='delete'>
            <button class='md-form-btn' type='submit'>delete</button>
          </form>

        </div>
      </div>

      <a class='md-list-item__action groups__group__edit' href='/group?edit={{id}}' data-id='{{id}}'>
        <img src='/images/pencil.svg' alt='Edit'>
      </a>

    </div>
  {{/each}}
  </div>
</div>
