<div class='md-list'>
{{#each jots}}
  {{#unless this.fields.done}}
  <div class='md-list-item jots__jot jots__jot-{{id}}'>
    <a class='md-list-item__avatar' href='/group/{{fields.group}}#{{id}}'>
      <div class='img colour-{{group.fields.colour}} priority-{{fields.priority}}'></div>
    </a>

    <a class='md-list-item__content md-list-item__content--no-action' href='/group/{{fields.group}}#{{id}}'>
      <div class='md-list-item__primary-content {{#if fields.done}}jots__jot__item--done{{/if}}'>
        {{fields.content}}
      </div>
      <div class='md-list-item__secondary-content'>
        {{groupName}}
      </div>
    </a>
  </div>
  {{/unless}}
{{/each}}
</div>
