<div class='partial-list-order' style='text-align: right;'>
  {{#if order}}
    {{#each order}}
      <a
        href='#'
        class='{{#if current}}{{current}}{{/if}}'
        data-type='{{type}}'
        data-direction='{{direction}}'
        ><img src='/images/{{type}}.svg' alt='{{name}}'></a>
    {{/each}}
  {{/if}}
</div>
