<h3>{{segment.done}}</h3>
<div class='partial-progress'>
  <div class="progress">
      <div class="back">
        <div class="seg seg-1" style="transform: skew(0deg, {{segment.one}}deg)"></div>
        <div class="seg seg-2" style="transform: skew(-{{segment.two}}deg, 0deg)"></div>
        <div class="seg seg-3" style="transform: skew(0deg, {{segment.three}}deg)"></div>
        <div class="seg seg-4" style="transform: skew(-{{segment.four}}deg, 0deg)"></div>
      </div>
      <div class="back-centre"></div>
  </div>
</div>
